.selectedbook{
    display:flex;
    margin-top:10px;
    width: calc((100% / 3)*2);
    background-color:#fbefd6;
    border-radius:4px;
    padding:24px;
    margin-bottom:24px;
    gap:24px;
}
.selected{
    margin-top:80px;
}
.bookpara{
    color:#0324b1;
    width:40%;
}
.imagedescription{
    display:flex;
    

}
.image{
    width:140px;
    height:140px;
}
.subtitle{
    margin-bottom:10px;

}
.author{
    margin-bottom:8px;
}
@media (max-width:768px){
    .selectedbook{
        width:100%;
        flex-direction: column;
        gap:20px;
    }
}
