.sidebar{
width:320px;
left:0;
top:0;
height:100vh;
background:#f7f7f7;
border-right: 1px solid #e5e7eb;
display:flex;
flex-direction:column;
position: fixed;

}
.nav{
    flex:1;
    margin-top:20px;
    padding :10px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;

}
.logo img{
    width:150px;
    margin-bottom:15px;
    margin-top:28px;

}
.navItem{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px;
    border-radius:6px;
    font-size:15px;
    color:#4b5563;
    cursor:pointer;
}
.navItem:hover{
    background:#eeeeee
}
.active{
    color:#c8ecd5;
    border-left:4px solid #a1d8b6;
    background:white;
    
}
.bottom{
    display:flex;
    flex-direction:column;
    gap:8px;
}
@media(max-width:768px){
   .layout > .sidebar{
  display:none;
}
}