.bookmap{
    display:flex;
    flex-direction:column;
   width:100%;
    margin: 10px;
    min-width:150px;
    padding:20px;
    justify-content: space-evenly;
    
}
.imagebook{
    width:173px;
    height:173px;
}
.Slider{
    gap:20px;
    scroll-behavior: smooth;
}
.sliderContainer{
    width:100%;
    max-width:1000px;
    margin:20px;
    gap:25px;  
}

.slideItem{
    padding:0 10px;
    position:relative;
}
.bookimage{
    width:173px;
    height:260px;
    object-fit:cover;
    margin:20px;
   
}
.heading{
    margin:5px;

}
.think{
    margin:10px;
    color:rgb(225, 230, 234);

}
.to{
    display:flex;
    justify-content: space-evenly;
}
.booktitle{
    margin-top:5px;
    font-size:14px;
}
.bookauthor{
    margin-top:5px;
    font-size:14px;
}
.booksubtitle{
      margin-top:5px;
    font-size:14px;
}
.rating{
     margin-top:5px;
    font-size:14px;
}
.premium{
    position:absolute;
    top: 5px;
    right:5px;
    background:rgb(86, 72, 72);
    color:rgb(228, 206, 206);
    padding:8px;
    border-radius:50%;
    font-size:14px;
    font-weight:bold;
    z-index:1;
    margin-bottom:50px;

}
@media (max-width: 768px) {
  .selectedbook {
    width: 100%;
    gap: 24px;
    flex-direction: column;
  }
}
